footer.footer
    .container 
        img(src="assets/img/logo.png", alt="").footer__logo
        .footer__box 
            .title Asosiy
            ul.footer__menu
                li: a(href="#").link Kompaniya haqida
                li: a(href="#").link Filiallar
                li: a(href="#").link Bolalar uchun
        .footer__box
            .title Qo’shimcha
            ul.footer__menu
                li: a(href="#").link Menyu
                li: a(href="#").link Bonusli karta
                li: a(href="#").link Bu qanday ishlaydi?
        .footer__box
            .title Biz bilan aloqa
            .footer__call (+998 71) 200-54-00
            .footer__addr 100011, Toshkent sh. Shayxontohur tumani, <br> Zarqaynar ko’chasi, 3B-uy
    .container.footer__bottom
        .footer__copy © Maxway, 2020
        .footer__social
            a(href="#"): img(src="assets/img/youtube.png", alt="")
            a(href="#"): img(src="assets/img/facebook.png", alt="")
            a(href="#"): img(src="assets/img/insta.png", alt="")
            a(href="#"): img(src="assets/img/tg.png", alt="")
            a(href="#"): img(src="assets/img/tiktok.png", alt="")


